body {
    background-color: rgb(26, 24, 24);
    color: white;
}

.bgImage {
    background-image: url('https://picsum.photos/200');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.bg-register {
    background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');
}

/* Website page */
.head-rs {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

.head-rs h1 {
    margin: 0;
}

.head-rs a {
    text-decoration: none;
    color: #fff;
    margin-right: auto;
}

/* Navigation */
.nav-rs {
    padding: 0.5em;
    text-align: center;
}

.nav-rs a {
    margin: 0 1em;
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

.nav-rs a:hover {
    color: white;
}

/* Model sections */
.model {
    height: auto;
    margin: 2em 0;
}

.model h2 {
    color: #333;
    margin: 0;
}

.container-rs {
    background-color: #333;
    max-width: auto;
    margin: 0 auto;
    padding: 20px;
    display: flex;
}

.model-image {
    position: relative;
    background-color: #f1f1f1;
    overflow: hidden;
    flex: 1; /* Ogni sezione occupa la stessa larghezza */
}

.model-image img {
    width: 100%;
    height: auto;
    display: block;
    border: 1px solid #ddd;
    margin: 0 auto;
}

/* Stili per il piè di pagina */
.footer-rs {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
